@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pastelPink-color: #FFE2DA;
  --pastelBlue-color: #E0F3F8;
  --pastelYellow-color: #FFF5DF;
  --yellowBalke: #F9BC60;
}

body{
  @apply bg-white;
}

@layer components {
  .nav-link {
    @apply hover:underline font-medium hover:underline-offset-4
  }

  .link-title{
    @apply font-bold hover:underline font-poppins
  }

  .link-subtitle{
    @apply font-extralight text-xs
  }

  .icon-button {
    @apply w-7 h-7 hover:opacity-50 cursor-pointer
  }

  .footer-main-link {
    @apply uppercase font-semibold text-sm
  }

  .input-text-container {
    @apply bg-gray-400/10 border-none p-2 leading-tight flex space-x-3 items-center w-full max-w-md rounded-lg;
  }

  .input-text-container-validation {
    @apply flex-col space-y-1 leading-tight items-center w-full max-w-md;
  }

  .input-text-sub-container-validation {
    @apply flex items-center justify-center space-x-3 w-full rounded-lg bg-white shadow-sm shadow-black/50 px-2
  }

  .input-label {
    @apply relative block p-0 w-full cursor-text;
  }

  .input-text {
    @apply appearance-none border-none py-4 px-2 leading-tight focus:border-transparent focus:outline-none bg-transparent transition duration-150 delay-150 ease-in-out w-full placeholder-transparent focus:ring-0;
  }

  .input-span {
    @apply absolute text-xs text-gray-400 transition-all left-2 peer-focus:text-xs peer-focus:top-0 peer-focus:translate-y-0 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-sm;
  }

  .input-textarea {
    @apply h-28 resize-none;
  }

  .account-nav-link {
    @apply flex space-x-3 text-base uppercase font-bold items-center hover:text-doku-blue active:scale-95 tracking-[3.5px]
  }

  .input-error {
    @apply text-red-500 text-sm italic opacity-90
  }

  .p-default {
    @apply px-20 py-2
  }
  .btnCenterContent{
    @apply flex justify-center items-center lg:flex py-2 px-2 w-full bg-white border-2 border-slate-400 font-normal rounded-md shadow-md hover:bg-[--yellowBalke] focus:outline-none focus:ring focus:ring-black focus:ring-opacity-75
  }
}